.test {
  background-color: aquamarine;
}

.root-cest {
  cursor: pointer;

  position: relative;

  display: inline-flex;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100px;
  padding-right: var(--padding-horizontal-m);
  padding-left: var(--padding-horizontal-m);

  text-decoration: none;
  white-space: nowrap;

  appearance: none;

  transition-timing-function: ease-in-out;
  transition-duration: 0.3s;
  transition-property: opacity, background-color, color, border;
}
